* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Almarai", sans-serif;
  background: #f2f2f2;
  margin: 0 1rem;
}
main {
  min-height: 100vh;
  margin: 0 1rem;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid black;
  margin: 2rem 1rem 4.5rem 1rem;
}
nav ul,
h1 {
  margin-bottom: 0.5rem;
}
nav a:hover {
  font-weight: bold;
}
ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
li {
  margin-left: 2rem;
  list-style: none;
}
a {
  text-decoration: none;
  color: #171717;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
}
.left-side {
  height: 100%;
  text-align: left;
}
.left-side h2 {
  font-weight: bold;
  font-size: 40px;
  margin-bottom: 1.5rem;
}
.left-side h3 {
  font-weight: bolder;
  line-height: 5rem;
  font-size: 85.74px;
  margin-bottom: 2.5rem;
  color: #171717;
}
.left-side p {
  color: #545454;
  font-size: 18px;
  margin: 0;
}
.green-button {
  border-radius: 36px;
  background: #d4fda3;
  border: 2px solid black;
  padding: 1rem;
  text-align: center;
  cursor: pointer;
  font-weight: bold;
}
.side-button {
  display: flex;
  align-items: center;
}
.side-button button {
  /* margin: 2.5rem 0; */
  margin-left: 1rem;
}
.right-side img {
  height: 30rem;
  width: 31rem;
  margin-left: 4rem;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid black;
  margin: 2rem 1rem 4rem 1rem;
  font-size: 20px;
  font-weight: bold;
}

.second-page {
  min-height: 90vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.third-page {
  min-height: 75vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer {
  border-top: 2px solid black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 10vh;
}

.delia:hover {
  text-decoration: underline;
}
form {
  text-align: center;
}
input {
  outline: none;
  padding: 1rem;
  width: 409px;
  border: none;
  border-bottom: #171717 solid 2px;
  position: relative;
  font-size: larger;
}
input::placeholder {
  font-weight: 400;
  color: #171717;
  font-size: 18px;
  position: absolute;
  bottom: 0;
}
#message {
  width: 898px;
  margin-top: 4rem;
}

.form-btn {
  margin-top: 4rem;
}

.cards {
  display: flex;
  margin-bottom: 4rem;
}
.card {
  height: 260px;
  width: 437px;
  display: flex;
  flex-direction: column;

  justify-content: center;
  border-radius: 16px;
  box-shadow: 1px 1px 4px 4px rgb(225, 225, 225);
  text-align: left;
}
.card h3 {
  font-size: 32px;
  font-weight: lighter;
  margin: 1.5rem 0rem 1.5rem 2rem;
}
.featured {
  font-family: "Space Mono", monospace;
  font-size: 14px;
  margin-left: 2rem;
}

.description {
  display: flex;
}
.description p {
  font-size: 16px;
}
.learn-more {
  width: 16rem;
  height: 2.5rem;
  text-align: center;
  border: #171717 solid 1.2px;
  border-radius: 36px;
  font-weight: bold;
  font-size: 14px;
  margin: 0;
}
